@font-face {
  font-family: "Spiegel";
  font-weight: 500;
  src: url(../fonts/Spiegel-Sans-Font/WOFF2/SpiegelSans-5Regular_TRIAL.woff2);
}
@font-face {
  font-family: "Spiegel-Italic";
  font-weight: 600;
  src: url("../fonts/Spiegel-Sans-Font/WOFF2/SpiegelSansCd-7BoldItalic_TRIAL.woff2");
}
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body {
    @apply bg-black;
  }
  body {
    font-family: "Spiegel";
    height: 100vh;
  }
  main {
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
    position: relative;
  }
}
